<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Trovo: what are you looking at?</title>

</head>

<body>

    <div class="container body-content px-10">

        <div class="row bg-primary text-white mb-4">
            <h1 class="display">Trovo</h1>
            <h6 class="display">What are you looking at?</h6>
        </div>

        <div class="row">

            <div class="col-2">
                Nav will go here...
            </div>

            <div class="col-10">

                @RenderBody()

            </div>

        </div>

        <div class="row bg-secondary text-white pt-3 mt-4">
            <p>&copy; @DateTime.Now.Year - Dave Gerrard</p>
        </div>
    
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>
